<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.threefour.homelearn.cart.mapper.CartMapper">
    <resultMap id="CartResultMap" type="org.threefour.homelearn.cart.domain.Cart">
        <id property="studentId" column="STUDENT_ID"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="modifiedAt" column="MODIFIED_AT"/>
        <collection property="cartCourses" ofType="org.threefour.homelearn.cart.domain.CartCourse">
            <id property="id" column="CC_ID"/>
            <result property="createdAt" column="CREATED_AT"/>
            <result property="modifiedAt" column="MODIFIED_AT"/>
            <association property="course" javaType="org.threefour.homelearn.course.domain.Course">
                <id property="id" column="COURSE_ID"/>
                <result property="subjectId" column="SUBJECT_ID"/>
                <result property="teacherId" column="TEACHER_ID"/>
                <result property="name" column="NAME"/>
                <result property="description" column="DESCRIPTION"/>
                <result property="price" column="PRICE"/>
                <result property="period" column="PERIOD"/>
                <result property="ffname" column="FFNAME"/>
                <result property="fname" column="FNAME"/>
                <result property="ofname" column="OFNAME"/>
                <result property="fsize" column="FSIZE"/>
                <result property="createdAt" column="COURSE_CREATED_AT"/>
                <result property="modifiedAt" column="COURSE_MODIFIED_AT"/>
            </association>
        </collection>
    </resultMap>

    <select id="findByStudentId" resultMap="CartResultMap">
        select c.STUDENT_ID, c.CREATED_AT, c.MODIFIED_AT,
               cc.ID as CC_ID, cc.CREATED_AT as CC_CREATED_AT, cc.MODIFIED_AT as CC_MODIFIED_AT,
               course.ID as COURSE_ID, course.SUBJECT_ID, course.TEACHER_ID,
               course.NAME, course.DESCRIPTION, course.PRICE,
               course.PERIOD, course.FFNAME, course.FNAME, course.OFNAME, course.FSIZE,
               course.CREATED_AT as COURSE_CREATED_AT, course.MODIFIED_AT as COURSE_MODIFIED_AT
        from CART c
                 join CART_COURSE cc on c.STUDENT_ID = cc.STUDENT_ID
                 join COURSE course on cc.COURSE_ID = course.ID
        where c.STUDENT_ID = #{studentId}
    </select>
    <insert id="createCart">
        insert into CART (STUDENT_ID, CREATED_AT, MODIFIED_AT)
        values (#{studentId}, now(), now())
    </insert>
    <insert id="insert">
        insert into CART_COURSE (STUDENT_ID, COURSE_ID, CREATED_AT, MODIFIED_AT)
        values (#{studentId}, #{courseId}, now(), now())
    </insert>
    <delete id="delete">
        delete
        from CART_COURSE
        where STUDENT_ID = #{studentId}
        and ID = #{cartCourseId}
    </delete>
</mapper>
