<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


    <typeAliases>
		<typeAlias alias="CourseVO" type="org.threefour.homelearn.course.domain.CourseVO"/>
		<typeAlias alias="Course" type="org.threefour.homelearn.course.domain.Course"/>
		<typeAlias alias="Pager" type="org.threefour.homelearn.course.domain.Pager"/>
		<typeAlias alias="Chapter" type="org.threefour.homelearn.chapter.domain.Chapter"/>
        <typeAlias alias="CourseVO" type="org.threefour.homelearn.course.domain.CourseVO"/>
        <typeAlias alias="Course" type="org.threefour.homelearn.course.domain.Course"/>
        <typeAlias alias="Pager" type="org.threefour.homelearn.course.domain.Pager"/>
        <typeAlias alias="Chapter" type="org.threefour.homelearn.chapter.domain.Chapter"/>
        <typeAlias alias="Cart" type="org.threefour.homelearn.cart.domain.Cart"/>
        <typeAlias alias="CartCourse" type="org.threefour.homelearn.cart.domain.CartCourse"/>
        <typeAlias alias="Order" type="org.threefour.homelearn.order.domain.Order"/>

        <typeAlias type="org.threefour.homelearn.member.dto.MemberRequestDTO" alias="MemberRequestDTO"/>
        <typeAlias type="org.threefour.homelearn.member.dto.MemberResponseDTO" alias="MemberResponseDTO"/>
        <typeAlias type="org.threefour.homelearn.member.dto.Role" alias="Role"/>
        <typeAlias type="org.threefour.homelearn.member.dto.MemberRole" alias="MemberRole"/>
        <typeAlias type="org.threefour.homelearn.member.dto.RefreshToken" alias="RefreshToken"/>
        <typeAlias type="org.threefour.homelearn.file.dto.AttachFile" alias="AttachFile"/>
        <typeAlias type="org.threefour.homelearn.file.dto.FileRequestDTO" alias="FileRequestDTO"/>
        <typeAlias type="org.threefour.homelearn.home.domain.HomeSearchVO" alias="HomeSearchVO"/>

        <typeAlias alias="MemberAdmin" type="org.threefour.homelearn.admin.domain.MemberAdmin"/>
        <typeAlias alias="CoursesAdmin" type="org.threefour.homelearn.admin.domain.CoursesAdmin"/>
        <typeAlias alias="ReviewAdmin" type="org.threefour.homelearn.admin.domain.ReviewAdmin"/>
        <typeAlias alias="RateSubjectAdmin" type="org.threefour.homelearn.admin.domain.RateSubjectAdmin"/>
        <typeAlias alias="RankingSubjectAdmin" type="org.threefour.homelearn.admin.domain.RankingSubjectAdmin"/>
        <typeAlias alias="CourseMemberAdmin" type="org.threefour.homelearn.admin.domain.CourseMemberAdmin"/>
        <typeAlias alias="Payment" type="org.threefour.homelearn.payment.domain.Payment"/>
    </typeAliases>

    <mappers>
        <mapper resource="CourseMapper.xml"/>
        <mapper resource="ChapterMapper.xml"/>
        <mapper resource="mappers/member/MemberMapper.xml"/>
        <mapper resource="mappers/member/MemberRoleMapper.xml"/>
        <mapper resource="mappers/member/RoleMapper.xml"/>
        <mapper resource="mappers/member/RefreshToken.xml"/>
        <mapper resource="mappers/file/FileMapper.xml"/>
        <mapper resource="AdminMapper.xml"/>
        <mapper resource="CartMapper.xml"/>
        <mapper resource="HomeMapper.xml"/>
        <mapper resource="PaymentMapper.xml"/>
        <mapper resource="OrderMapper.xml"/>
    </mappers>
</configuration>