<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="CourseVO" type="org.threefour.homelearn.course.domain.CourseVO"/>
		<typeAlias alias="Course" type="org.threefour.homelearn.course.domain.Course"/>
		<typeAlias alias="Pager" type="org.threefour.homelearn.course.domain.Pager"/>
		<typeAlias alias="Chapter" type="org.threefour.homelearn.chapter.domain.Chapter"/>

	</typeAliases>

	<mappers>
		<mapper resource="CourseMapper.xml"/>
		<mapper resource="ChapterMapper.xml"/>
	</mappers>
</configuration>