<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mapper/PaymentMapper.xml -->
<mapper namespace="org.threefour.homelearn.payment.mapper.PaymentMapper">

    <insert id="insertPayment" parameterType="Payment">
        INSERT INTO payments (imp_uid, merchant_uid, paid_amount, refunded_amount)
        VALUES (#{imp_uid}, #{merchant_uid}, #{paid_amount}, #{refunded_amount})
    </insert>

    <select id="selectPaymentByImpUid" parameterType="String" resultType="Payment">
        SELECT * FROM payments WHERE imp_uid = #{imp_uid}
    </select>

</mapper>
