.sec-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileImageWrapper {
    width: 250px;
    height: 300px;
}

#profileImage {
    border-radius: 25px;
    height: 100%;
}

label[for='profileImageInput'] {
    max-width: 50px;
}

label[for='profileImageInput'] > div {

}

label[for='profileImageInput'] > img {
    width: 100%;
}

button[type='submit'] {
    margin: 10px auto 0 !important;
}

/*lecture-register-list start*/
#course-list div {
    padding: 10px !important;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    margin-top: auto;
}

/*lecture-register-list end*/

/*payment-list start*/

/*payment-list end*/