<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.threefour.homelearn.member.mapper.MemberRoleMapper">
    <insert id="insertMemberRole" parameterType="MemberRole">
        insert into member_role(member_id, role_id) values (#{memberId}, #{roleId})
    </insert>

    <select id="findByMemberId" resultType="MemberRole">
        select * from member_role where member_id = #{memberId}
    </select>

</mapper>